{% extends "bootstrap/base.html" %}
{% block title %}Bangladata{% endblock %}
{% block head %}
    {{super()}}
    <link rel="shortcut icon" href ="{{ url_for('static', filename='img/favicon.ico' )}}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/MarkerCluster.Default.css" />-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/leaflet.markercluster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/leaflet.markercluster-src.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
	<div class="navbar-header" id="navhover">
	    <button type="button" class="navbar-toggle"
data-toggle="collapse" data-toggle="collapse"
data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
      <a class="navbar-brand" href="#"><img class="img-responsive" id="brand" src="{{ url_for('static', filename='img/bangla.png' )}}"></a>
	    <a class="navbar-brand" href="#" style="margin-left:-2em;">Bangladata</a>
	</div>
	<div class="navbar-collapse collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Maps <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="{{ url_for('parlelections') }}">Parliamentary Elections</a></li>
          <li><a href="{{ url_for('rohingya') }}">Rohingya Refugees</a></li>
		      <li><a href="{{ url_for('tabletop') }}">Tabletop</a></li>
          <li><a href="{{ url_for('coverage') }}">Coverage</a></li>
        </ul>
		<li><a href="#" data-toggle="modal"
data-target="#aboutModal" style="outline-width:0;">About</a></li>
		<li><a href="#" data-toggle="modal"
data-target="#dataModal" style="outline-width:0;">Data</a></li>
	    </ul>
      <ul class="nav navbar-nav navbar-right">
        <a class="pull-right" href="http://democracyinternational.com" target="_blank"><img class="img-responsive" id="logo" src="{{ url_for('static', filename='img/dilogo.png' )}}"></a>
      </ul>
  </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--about modal-->
<div class="modal fade" id="aboutModal" role="dialog">
    <div class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">About</h4>
	    </div>
	    <div class="modal-body">Bangladata is an initiative by Democracy International to collect, open, visualize and analyze election-related data on an on going basis.
	  <br><br>The goal of Bangladata is to strengthen Bangladeshi democracy through greater transparency and accountability. DI aims to achieve this goal by:
          <br><br>1. Creating a centralized hub of election-related data and maps that facilitate evidence-based, data-driven decision-making to improve the electoral process
          <br><br>2. Presenting information in a highly accessible way so that stakeholders can measure progress and identify trends from one election cycle to the next
          <br><br>3. Providing a meaningful lens through which electoral developments and election observation findings can be contextualized and understood.
            </div>
	    <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
        </div>
    </div>
  </div>
</div>
<!--data modal-->
<div class="modal fade" id="dataModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Data</h4>
            </div>
        <div class="modal-body"> The Bangladata platform utilizes official election data published the <a href="#" target="_blank">Bangladesh Election Commission</a>.
         <br><br>Platform data and maps are available for download by Democracy International via<a href="https://github.com/mbaldassaro/bangladata/tree/master/static/js/data"
target="_blank"> Github</a>. The data is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0</a>.
         <br><br>The map layers are available via <a href="http://www.openstreetmap.org/about" target="_blank">OpenStreetMap</a> and <a href="http://www.esri.com/about-esri" target="_blank">ESRI</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--map-->
<div class="jumbotron" id="map"></div>
<script>
var cartoLink = '<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>';
var cartoUrl = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png';
//var cartoLink = 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
//var cartoUrl = 'http://korona.geog.uni-heidelberg.de/tiles/roadsg/x={x}&y={y}&z={z}';
var cartoAttr = '&copy; ' + cartoLink;
var mountUrl = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Shaded_Relief/MapServer/tile/{z}/{y}/{x}';
var mountAttr = 'Tiles &copy; Esri &mdash; Source: Esri';
var satUrl = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}';
var satAttr = 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';
var cartoMap = L.tileLayer(cartoUrl, {attribution: cartoAttr});
var mountMap = L.tileLayer(mountUrl, {attribution: mountAttr});
var satMap = L.tileLayer(satUrl, {attribution: satAttr});
var map = L.map('map', {layers: [cartoMap]}).setView([24, 90], 8);
var baseLayers = {
  'Road': cartoMap,
  'Terrain': mountMap,
  'Satellite': satMap
};
</script>
<script src="{{ url_for('static', filename='js/mapmodal.js')}}"></script>
{% endblock %}
