{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tabletopmap.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<!--info modals-->
<div class="modal fade" role="dialog" id="modal_about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About The Map</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- a Bootstrap modal, which we'll bind to the control via the modalId parameter -->
<div class="modal fade" role="dialog" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About the Data</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{super()}}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='data/elections/battleground.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/dicoverage.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/ifesgap.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/thpcoverage.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/vimsoctfeb.json')}}"></script>
<script src="{{ url_for('static', filename='js/elections/battleground.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/coverage.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/coverageDI.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/thpcoverage.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/ifescoverage.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/vimsrisk.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimsintraparty.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimsinterparty.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimselections.js')}}"></script>
<script>
//$(document).ready(function() {
L.control.layers(baseLayers, null, {collapsed: true, position: 'topleft'}).addTo(map);
map.flyTo([24, 90], 7);
//});

var battlegroundgeojson;
var coveragegeojson;
var thpcoveragegeojson;
var ifescoveragegeojson;
var vimsriskgeojson;
var markersDI;
var markersTHP;
var vimsintraparty;
var vimsinterparty;
var vimselections;

var winner1991 = "1991 Winner";
var runnerUp1991 = "1991 Runner Up";
var winner1996 = "1996 Winner";
var runnerUp1996 = "1996 Runner Up";
var winner2001 = "2001 Winner";
var runnerUp2001 = "2001 Runner Up";
var winner2008 = "2008 Winner";
var runnerUp2008 = "2008 Runner Up";

var overlayMaps = {
  "Battleground Constituencies": battlegroundgeojson,
  "SPL VIMS Political Violence (Choropleth)": vimsriskgeojson,
  "SPL VIMS Intra-Party Violence (Point)": vimsintraparty,
  "SPL VIMS Inter-Party Violence (Point)": vimsinterparty,
  "SPL VIMS Electoral Violence (Point)": vimselections,
  "SPL DI Coverage": coveragegeojson,
  "SPL THP Coverage": thpcoveragegeojson,
  "SPL DI Office Locations": markersDI,
  "SPL THP Office Locations": markersTHP,
  "IFES Gap Coverage": ifescoveragegeojson
};

//map.addLayer(coveragegeojson);
map.addLayer(battlegroundgeojson);
L.control.layers(null, overlayMaps, {collapsed: false, position: 'bottomleft'}).addTo(map);

/*var tableLegend = L.control({ position: 'bottomright' });
tableLegend.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info legend'),
    grades = [1, 2, 3, 4],
    labels = ['<h4>Dummy Type</h4>' +
    '<h6><strong>Dummy 1 ' + '<i class="circle" style="background:' + getColor(grades[0]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 2 ' + '<i class="circle" style="background:' + getColor(grades[1]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 3 ' + '<i class="circle" style="background:' + getColor(grades[2]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 4 ' + '<i class="circle" style="background:' + getColor(grades[3]) + '"></i></strong></h6>' ];
    this._div.innerHTML = labels.join('');
    return this._div;
  };*/


//tableLegend.addTo(map);
battlegroundlegend.addTo(map);
battlegroundinfo.addTo(map);
</script>
{{super()}}
{% endblock %}
