{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tabletopmap.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<!--info modals-->
<div class="modal fade" role="dialog" id="modal_about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About The Map</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- a Bootstrap modal, which we'll bind to the control via the modalId parameter -->
<div class="modal fade" role="dialog" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About the Data</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{super()}}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='data/elections/swing.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/dicoverage.json')}}"></script>
<script src="{{ url_for('static', filename='data/coverage/ifescoverage.json')}}"></script>
<script src="{{ url_for('static', filename='js/elections/swing.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/coverage.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/coverageDI.js')}}"></script>
<script src="{{ url_for('static', filename='js/coverage/ifescoverage.js')}}"></script>
<script>
//$(document).ready(function() {
L.control.layers(baseLayers, null, {collapsed: true, position: 'topleft'}).addTo(map);
map.flyTo([24, 90], 7);
//});

var swinggeojson;
var coveragegeojson;
var ifescoveragegeojson;
var markersDI;

var overlayMaps = {
  "Swing Constituencies": swinggeojson,
  "DI Election Coverage": coveragegeojson,
  "DI Office Locations": markersDI,
  "IFES Gap Coverage": ifescoveragegeojson
};

//map.addLayer(coveragegeojson);
map.addLayer(swinggeojson);
L.control.layers(null, overlayMaps, {collapsed: false, position: 'bottomleft'}).addTo(map);

/*var tableLegend = L.control({ position: 'bottomright' });
tableLegend.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info legend'),
    grades = [1, 2, 3, 4],
    labels = ['<h4>Dummy Type</h4>' +
    '<h6><strong>Dummy 1 ' + '<i class="circle" style="background:' + getColor(grades[0]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 2 ' + '<i class="circle" style="background:' + getColor(grades[1]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 3 ' + '<i class="circle" style="background:' + getColor(grades[2]) + '"></i></strong></h6>' +
    '<h6><strong>Dummy 4 ' + '<i class="circle" style="background:' + getColor(grades[3]) + '"></i></strong></h6>' ];
    this._div.innerHTML = labels.join('');
    return this._div;
  };*/


//tableLegend.addTo(map);
swinglegend.addTo(map);
swinginfo.addTo(map);
</script>
{{super()}}
{% endblock %}
