<script>
    let constituency = "{{gettext('Constituency')}}";
    let validVotes = "{{gettext('Valid Votes')}}";
    let fourp = "{{gettext('Four Party Alliance')}}";
    let al = "{{gettext('AL')}}";
    let bnp = "{{gettext('BNP')}}";
    let jp = "{{gettext('JP')}}";
    let jib = "{{gettext('JIB')}}";
    let other = "{{gettext('Other')}}";
    let pc = "{{gettext('Party-Coalition')}}";
    let margvict = "{{gettext('Margin of Victory')}}";
    let totalVotes = "{{gettext('Total Votes')}}";
    let totalSeats = "{{gettext('Total Seats')}}";
    let pctVote = "{{gettext('Vote Percentage')}}";
    let recVotes = "{{gettext('Votes Received')}}";
    let wonSeats = "{{gettext('Seats Won')}}";
    let diff = "{{gettext('Difference')}} (+/-)";
    let otherVotes = "{{gettext('Other Votes')}}";
    let otherSeats = "{{gettext('Other Seats')}}";
    let otherPct = "{{gettext('Other Percentage')}}";
    let voterReg = "{{gettext('Registered Voters')}}";
    let voterTot = "{{gettext('Total Voters')}}";
    let turnout = "{{gettext('Turnout Percentage')}}";
    let voterRegF = "{{gettext('Registered Female Voters')}}";
    let voterTotF = "{{gettext('Female Voter Turnout')}}";
    let voterPctF = "{{gettext('Female Turnout Percentage')}}";
    let voterRegM = "{{gettext('Registered Male Voters')}}";
    let voterTotM = "{{gettext('Male Voter Turnout')}}";
    let voterPctM = "{{gettext('Male Turnout Percentage')}}";
    let difference = "{{gettext('Difference')}} (+/-)";
    let castBallot = "{{gettext('Ballots Cast')}}";
    let votesInv = "{{gettext('Invalid Votes')}}";
    let pctInv = "{{gettext('Invalid Percentage')}}";
    let winner = "{{gettext('Winner')}}";
    let runnerUp = "{{gettext('Runner Up')}}";
    let cancelled = "{{gettext('Cancelled Ballots')}}";
    let cancelledPercentage = "{{gettext('Cancelled Percentage')}}";
    let winner1991 = "{{gettext('1991 Winner')}}";
    let runnerUp1991 = "{{gettext('1991 Runner Up')}}";
    let winner1996 = "{{gettext('1996 Winner')}}";
    let runnerUp1996 = "{{gettext('1996 Runner Up')}}";
    let winner2001 = "{{gettext('2001 Winner')}}";
    let runnerUp2001 = "{{gettext('2001 Runner Up')}}";
    let winner2008 = "{{gettext('2008 Winner')}}";
    let runnerUp2008 = "{{gettext('2008 Runner Up')}}";
</script>