{% extends "base.html" %}
{% block head %}
<style>
.legend, .temporal-legend {
		padding: 6px 10px;
		font: 14px/16px 'Lato', Helvetica, sans-serif;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
	}

#legendTitle {
		text-align: center;
		margin-bottom: 15px;
		/*font-variant: small-caps;*/
}

.symbolsContainer {
		float: left;
		margin-left: 86px;
}

.legendCircle {
		border-radius: 50%;
		/*border: 1px solid #537898;*/
		border: 1px solid gold;
		/*background: rgba(113, 133, 152, .6);*/
		background: rgba(255,155,31,.6);
		display: inline-block;
}

.legendValue {
		position: absolute;
		font: 'Lato';
		right: 15px;
}

.leaflet-control-bootstrapmodal {
}

.leaflet-control-bootstrapmodal i {
    font-size: 16px;
    color: #444;
    opacity: 0.6;
    line-height: 26px;
}

.leaflet-touch .leaflet-control-bootstrapmodal i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
</style>
{{super()}}
{% endblock %}
{% block content %}
<!--info modals-->
<div class="modal fade" role="dialog" id="modal_about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About The Map</h4>
            </div>
            <div class="modal-body">
                <p>This map displays the camp locations and estimated populations of Rohingya refugees in and around Cox's Bazar since data was made available in September 2017.
                In total, nearly one million Rohingyas have crossed the border from Myanmar and taken refuge in Bangladesh.
                The International Organization for Migration has reported that since August 2017 more than 650,000 Rohingyas have taken refuge in temporary makeshift settlements in Bangladesh border communities.
                Drag the slider in the bottom left corner of the map to see monthly refugee population estimates in, and movements between, makeshift settlements.
                 </p>
                <p>A caveat on refugee population estimates from the Humanitarian Data Exchange platform:
                  "Fluid movement makes the tracking of new arrivals challenging.
                  Figures are triangulated estimates based on the visual observation of key informants. The new arrivals have not been verified at household level.
                  In particular, the number of affected population in host communities remains unclear. Daily data for arrivals in host communities is not available."</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- a Bootstrap modal, which we'll bind to the control via the modalId parameter -->
<div class="modal fade" role="dialog" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About the Data</h4>
            </div>
            <div class="modal-body">
                <p>The data was compiled from the "Location of Rohingya Refugees in Cox’s Bazar" dataset published on the
                <a href="https://data.humdata.org/dataset/site-location-of-rohingya-refugees-in-cox-s-bazar" target="_blank">Humanitarian Data Exchange</a> by the
                <a href="https://data.humdata.org/organization/inter-sector-coordination-group" target="_blank">Inter Sector Coordination Group</a>.</p>
                <p>The source dataset contains the location (latitude and longitude), type, and estimated population of the Rohingya Refugees in and around Cox's Bazar, Bangladesh.
                  It is updated regularly and licensed for reuse under
                <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">Public Domain / No Restrictions (CC0)</a>.</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{super()}}
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
L.control.layers(baseLayers, null, {collapsed: true, position: 'topright'}).addTo(map);
//map.panTo(new L.LatLng(21.212711, 92.163433));
//map.flyTo([21.212711, 92.163433], 10);
//map.flyTo([21.171149, 92.155243], 10);
map.flyTo([21.133391, 92.187985], 10);
});

var cities;

$.getJSON("static/data/rohingya.json")
  .done(function(data) {
    //console.log(data);
    var info = processData(data);
    createPropSymbols(info.timestamps, data);
    createLegend(info.min,info.max);
    createSliderUI(info.timestamps);
  }).fail(function() { alert("Not loaded!")});

  function processData(data) {
    var timestamps = [];
    var min = Infinity;
    var max = -Infinity;
		for (var feature in data.features) {
			var properties = data.features[feature].properties;
			for (var attribute in properties) {
				if(attribute != 'ssid' && attribute != 'name') {
					if($.inArray(attribute,timestamps) === -1) {
						timestamps.push(attribute);
					}
					if (properties[attribute] < min) {
						min = properties[attribute];
					}
					if (properties[attribute] > max) {
						max = properties[attribute];
					}
				}
			}
		}
		return {
      	timestamps : timestamps,
			  min : min,
	  		max : max
		}
	}

  function createPropSymbols(timestamps, data) {
    cities = L.geoJson(data, {
			pointToLayer: function(feature, latlng) {
        return L.circleMarker(latlng, {
          //fillColor: '#708598',
          //fillColor: 'orange',
          fillColor: '#ff9b1f',
          //color: '#537898',
          color: 'yellow',
          weight: 1,
          fillOpacity: 0.6 }).on({
					mouseover: function(e) {
						this.openPopup();
						//this.setStyle({color: 'yellow'});
            this.setStyle({color: '#537898'});
					},
					mouseout: function(e) {
						this.closePopup();
						//this.setStyle({color: '#537898'});
            this.setStyle({color: 'yellow'});
					}
        });
      }
    }).addTo(map);
    updatePropSymbols(timestamps[0]);
  }

  function updatePropSymbols(timestamp) {
		cities.eachLayer(function(layer) {
			var props = layer.feature.properties;
			var radius = calcPropRadius(props[timestamp]);
			var popupContent = '<b>' + String(props[timestamp]) +
					' refugees</b><br>' +
					'<i>' + props.name; /*+
					'</i> in </i>' +
					timestamp + '</i>';*/
			layer.setRadius(radius);
			layer.bindPopup(popupContent, { offset: new L.Point(0,-radius) });
		});
	}

  function calcPropRadius(attributeValue) {
		var scaleFactor = 0.025;
		var area = attributeValue * scaleFactor;
		return Math.sqrt(area/Math.PI)*2;
  	}

  function createLegend(min, max) {
		if (min < 10000) {
			  min = 10000;
		}
		function roundNumber(inNumber) {
			return (Math.round(inNumber/10) * 10);
		}
		var legend = L.control( { position: 'bottomright' } );
		legend.onAdd = function(map) {
		var legendContainer = L.DomUtil.create("div", "legend");
		var symbolsContainer = L.DomUtil.create("div", "symbolsContainer");
		var classes = [roundNumber(min), roundNumber((max-min)/2), roundNumber(max)];
    var legendCircle;
		var lastRadius = 0;
		var currentRadius;
		var margin;
		L.DomEvent.addListener(legendContainer, 'mousedown', function(e) {
			L.DomEvent.stopPropagation(e);
		});

		$(legendContainer).append("<h4 id='legendTitle'>Rohingya Refugees</h4>");
		for (var i = 0; i <= classes.length-1; i++) {
			legendCircle = L.DomUtil.create("div", "legendCircle");
			currentRadius = calcPropRadius(classes[i]);
			margin = -currentRadius - lastRadius - 2;
			$(legendCircle).attr("style", "width: " + currentRadius*2 +
				"px; height: " + currentRadius*2 +
				"px; margin-left: " + margin + "px" );
			$(legendCircle).append("<span class='legendValue'>"+classes[i]+"</span>");
			$(symbolsContainer).append(legendCircle);
			lastRadius = currentRadius;
		}

		$(legendContainer).append(symbolsContainer);
		return legendContainer;
		};
		legend.addTo(map);
} // end createLegend();

//var startTimestamp;
function createTemporalLegend(startTimestamp) {
		var temporalLegend = L.control({ position: 'bottomleft' });
		temporalLegend.onAdd = function(map) {
			var output = L.DomUtil.create("output", "temporal-legend");
      startTimestamp = "September 2017"
      $(output).text(startTimestamp)
			return output;
		}
		temporalLegend.addTo(map);
	}

function createSliderUI(timestamps) {
		var sliderControl = L.control({ position: 'bottomleft'} );
		sliderControl.onAdd = function(map) {
			var slider = L.DomUtil.create("input", "range-slider");
		    L.DomEvent.addListener(slider, 'mousedown', function(e) {
				L.DomEvent.stopPropagation(e);
			});

			$(slider)
				.attr({'type':'range',
					'max': timestamps[timestamps.length-1],
					'min': timestamps[0],
          'step': 1,
          'value': String(timestamps[0])
        }).on('input change', function() {
		  		updatePropSymbols($(this).val().toString());
          $(".temporal-legend").text(this.value);
          if(this.value==1) { return $(".temporal-legend").text("September 2017") }
          if(this.value==2) { return $(".temporal-legend").text("October 2017") } //correct
          if(this.value==3) { return $(".temporal-legend").text("November 2017") }
          if(this.value==4) { return $(".temporal-legend").text("December 2017") }
		  	});
			return slider;
		}
		sliderControl.addTo(map)
    createTemporalLegend(timestamps[0]); //correct
	}

//bootstrap modal
  L.Control.BootstrapModal = L.Control.extend({
      options: {
          // position         a Leaflet position, e.g. topleft. Optional; defaults to topright
          // modalId          the DOM ID of the Bootstrap modal, without the # sign. Example: **help**, would connect to the modal with **id="help"**
          // tooltip          the tooltip text for the control
          // glyph            the name of a Bootstrap glyphicon, minus the glyphicon- prefix. Example: **flag**  For more info and full list, http://getbootstrap.com/components/#glyphicons
          position: 'topright',
          modalId: null,
          tooltip: "",
          glyph: 'info-sign'
      },
      initialize: function(options) {
          L.setOptions(this, options);
          if (! options.modalId) throw "L.Control.BootstrapModal: modalId is required";

          // make sure that the stated modal (by DOM ID) is really real and really a Bootstrap modal
          // keep a reference to it for later
          this.modal = $('#' + this.options.modalId );
          if ( ! this.modal.length )                 throw "L.Control.BootstrapModal: could not find #" + this.options.modalId + "in the DOM";
          if ( this.modal.attr('role') !== 'dialog') throw "L.Control.BootstrapModal: #" + this.options.modalId + " does not have role=\"dialog\"   Are you sure it's a dialog?";
          if (! this.modal.hasClass('modal') )       throw "L.Control.BootstrapModal: #" + this.options.modalId + " does not have class=\"modal\"   Are you sure it's a dialog?";
      },
      onAdd: function(map) {
          // add a linkage to the map, since we'll be managing map layers
          this.map = map;
          this.active = false;

          // create our button: uses FontAwesome cuz that font is... awesome
          // assign this here control as a property of the visible DIV, so we can be more terse when writing click-handlers on that visible DIV
          this.controlDiv           = L.DomUtil.create('div', 'leaflet-control-bootstrapmodal leaflet-bar');
          this.controlDiv.control   = this;
          this.controlDiv.title     = this.options.tooltip;
          this.controlDiv.innerHTML = '<a href="#"><i class="fa fa-' + this.options.glyph + '"></i></a>';
          L.DomEvent
              .addListener(this.controlDiv, 'mousedown', L.DomEvent.stopPropagation)
              .addListener(this.controlDiv, 'click', L.DomEvent.stopPropagation)
              .addListener(this.controlDiv, 'click', L.DomEvent.preventDefault)
              .addListener(this.controlDiv, 'click', function () {
                  this.control.handleClick();
              });

          // done!
          return this.controlDiv;
      },

      handleClick: function () {
          $(this.modal).modal('show');
      }
  });

  new L.Control.BootstrapModal({
        modalId: 'modal_about',
        tooltip: "About the Map",
        glyph: 'info-circle'
  }).addTo(map);

  new L.Control.BootstrapModal({
        modalId: 'modal_help',
        tooltip: "About the Data",
        glyph: 'database'
  }).addTo(map);


/*    The MIT License (MIT)

    Copyright (c) 2016 Greg Allensworth

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*/
</script>
{{super()}}
{% endblock %}
