{% extends "base.html" %}
{% block head %}
<style>
.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
  background: rgba(255,255,255,0.8);
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2)!important;
  background-clip: padding-box!important;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 1em;
  opacity: 0.6;
  margin-top: -0.2em;
  }

.leaflet-control-bootstrapmodal {
}

.leaflet-control-bootstrapmodal i {
    font-size: 16px;
    color: #444;
    opacity: 0.6;
    line-height: 26px;
}

.leaflet-touch .leaflet-control-bootstrapmodal i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.info {
    	font-family: 'Lato', Helvetica, sans-serif;
    	color: #555;
    	background: white;
    	background: rgba(255,255,255,0.8);
    	box-shadow: 0 0 15px rgba(0,0,0,0.2);
    	padding-right: 1em;
    	padding-left: 1em;
    	border-radius: 5px;
    	border: 2px solid rgba(0,0,0,0.2)!important;
    	background-clip: padding-box!important;
}
</style>
{{super()}}
{% endblock %}

{% block content %}
<!--info modals-->
<div class="modal fade" role="dialog" id="modal_about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About The Map</h4>
            </div>
            <div class="modal-body">
                <p>This map displays the camp locations and estimated populations of Rohingya refugees in and around Cox's Bazar since data was made available in September 2017.
                In total, nearly one million Rohingyas have crossed the border from Myanmar and taken refuge in Bangladesh.
                The International Organization for Migration has reported that since August 2017 more than 650,000 Rohingyas have taken refuge in temporary makeshift settlements in Bangladesh border communities.
                Drag the slider in the bottom left corner of the map to see monthly refugee population estimates in, and movements between, makeshift settlements.
                 </p>
                <p>A caveat on refugee population estimates from the Humanitarian Data Exchange platform:
                  "Fluid movement makes the tracking of new arrivals challenging.
                  Figures are triangulated estimates based on the visual observation of key informants. The new arrivals have not been verified at household level.
                  In particular, the number of affected population in host communities remains unclear. Daily data for arrivals in host communities is not available."</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- a Bootstrap modal, which we'll bind to the control via the modalId parameter -->
<div class="modal fade" role="dialog" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About the Data</h4>
            </div>
            <div class="modal-body">
                <p>The data was compiled from the "Location of Rohingya Refugees in Cox’s Bazar" dataset published on the
                <a href="https://data.humdata.org/dataset/site-location-of-rohingya-refugees-in-cox-s-bazar" target="_blank">Humanitarian Data Exchange</a> by the
                <a href="https://data.humdata.org/organization/inter-sector-coordination-group" target="_blank">Inter Sector Coordination Group</a>.</p>
                <p>The source dataset contains the location (latitude and longitude), type, and estimated population of the Rohingya Refugees in and around Cox's Bazar, Bangladesh.
                  It is updated regularly and licensed for reuse under
                <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">Public Domain / No Restrictions (CC0)</a>.</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{super()}}
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
L.control.layers(baseLayers, null, {collapsed: true, position: 'topleft'}).addTo(map);
map.flyTo([21.133391, 92.187985], 10);
});

//bootstrap modal
  L.Control.BootstrapModal = L.Control.extend({
      options: {
          // position         a Leaflet position, e.g. topleft. Optional; defaults to topright
          // modalId          the DOM ID of the Bootstrap modal, without the # sign. Example: **help**, would connect to the modal with **id="help"**
          // tooltip          the tooltip text for the control
          // glyph            the name of a Bootstrap glyphicon, minus the glyphicon- prefix. Example: **flag**  For more info and full list, http://getbootstrap.com/components/#glyphicons
          position: 'topright',
          modalId: null,
          tooltip: "",
          glyph: 'info-sign'
      },
      initialize: function(options) {
          L.setOptions(this, options);
          if (! options.modalId) throw "L.Control.BootstrapModal: modalId is required";

          // make sure that the stated modal (by DOM ID) is really real and really a Bootstrap modal
          // keep a reference to it for later
          this.modal = $('#' + this.options.modalId );
          if ( ! this.modal.length )                 throw "L.Control.BootstrapModal: could not find #" + this.options.modalId + "in the DOM";
          if ( this.modal.attr('role') !== 'dialog') throw "L.Control.BootstrapModal: #" + this.options.modalId + " does not have role=\"dialog\"   Are you sure it's a dialog?";
          if (! this.modal.hasClass('modal') )       throw "L.Control.BootstrapModal: #" + this.options.modalId + " does not have class=\"modal\"   Are you sure it's a dialog?";
      },
      onAdd: function(map) {
          // add a linkage to the map, since we'll be managing map layers
          this.map = map;
          this.active = false;

          // create our button: uses FontAwesome cuz that font is... awesome
          // assign this here control as a property of the visible DIV, so we can be more terse when writing click-handlers on that visible DIV
          this.controlDiv           = L.DomUtil.create('div', 'leaflet-control-bootstrapmodal leaflet-bar');
          this.controlDiv.control   = this;
          this.controlDiv.title     = this.options.tooltip;
          this.controlDiv.innerHTML = '<a href="#"><i class="fa fa-' + this.options.glyph + '"></i></a>';
          L.DomEvent
              .addListener(this.controlDiv, 'mousedown', L.DomEvent.stopPropagation)
              .addListener(this.controlDiv, 'click', L.DomEvent.stopPropagation)
              .addListener(this.controlDiv, 'click', L.DomEvent.preventDefault)
              .addListener(this.controlDiv, 'click', function () {
                  this.control.handleClick();
              });

          // done!
          return this.controlDiv;
      },

      handleClick: function () {
          $(this.modal).modal('show');
      }
  });

  new L.Control.BootstrapModal({
        modalId: 'modal_about',
        tooltip: "About the Map",
        glyph: 'info-circle'
  }).addTo(map);

  new L.Control.BootstrapModal({
        modalId: 'modal_help',
        tooltip: "About the Data",
        glyph: 'database'
  }).addTo(map);


/*    The MIT License (MIT)

    Copyright (c) 2016 Greg Allensworth

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*/

</script>
<script type="text/javascript">
function init() {
  Tabletop.init( { key: 'https://docs.google.com/spreadsheets/d/1qyhvJKLyF5s2mrVgRUKFzTjHJk6Zip7wRYBltig21yA/pubhtml',
                   callback: function(data, tabletop) {
                       console.log(data)
                   },
                   simpleSheet: true } )
}
window.addEventListener('DOMContentLoaded', init)
if (window.location.hash === "#cluster") {
	// Set up cluster group
	var markers = new L.MarkerClusterGroup();
} else {
	// Otherwise set up normal groupx`
	var markers = new L.LayerGroup();
}
// Google Docs spreadsheet key
var spreadsheet_key = '1qyhvJKLyF5s2mrVgRUKFzTjHJk6Zip7wRYBltig21yA';
// Name of lat, long columns in Google spreadsheet
var lat_column = 'latitude';
var long_column = 'longitude';
// Marker options
var radius = 8;
// Regular fill
var fill_color = "#023858";
var border_color = "#FFF";
// Hover
var fill_color_hover = "#FFF";
var border_color_hover = "#333"

var global_markers_data;
// Function that creates our popup
function generatePopup(content){
    // Generate header
	var popup_header = "<h5>" + content['name'] + "</h5>"
	// Generate content
	var popup_content = '<h6>' + content['dummy'] + '</h6>'
	return popup_header + popup_content;
}

// This goes through our JSON file and puts markers on map
function loadMarkersToMap(markers_data) {
	// If we haven't captured the Tabletop data yet
	// We'll set the Tabletop data to global_markers_data
	if (global_markers_data !== undefined) {
		markers_data = global_markers_data;
	// If we have, we'll load global_markers_data instead of loading Tabletop again
	} else {
		global_markers_data = markers_data;
	}

	for (var num = 0; num < markers_data.length; num++) {
		// Capture current iteration through JSON file
		current = markers_data[num];

		// Add lat, long to marker
		var marker_location = new L.LatLng(current[lat_column], current[long_column]);

		// Determine radius of the circle by the value in total
		// radius_actual = Math.sqrt(current['total'] / 3.14) * 2.8;

		// Options for our circle marker
		var layer_marker = L.circleMarker(marker_location, {
			radius: radius,
			fillColor: fill_color,
			color: border_color,
			weight: 1,
			opacity: 1,
			fillOpacity: 0.8
		});

		// Generate popup
		layer_marker.bindPopup( generatePopup(current) );

		// Add events to marker
		(function (num){
			// Must call separate popup(e) function to make sure right data is shown
			function mouseOver(e) {
				var layer_marker = e.target;
		        layer_marker.setStyle({
		            radius: radius + 1,
		            fillColor: fill_color_hover,
		            color: border_color_hover,
		            weight: 2,
		            opacity: 1,
		            fillOpacity: 1
				});
				// layer_marker.openPopup();
		    }

		    // What happens when mouse leaves the marker
		    function mouseOut(e) {
				var layer_marker = e.target;
				layer_marker.setStyle({
					radius: radius + 1,
					fillColor: fill_color,
					color: border_color,
					weight: 1,
					opacity: 1,
					fillOpacity: 0.8
		        });
		        // layer_marker.closePopup();
		    }

		    // Call mouseover, mouseout functions
		    layer_marker.on({
		    	mouseover: mouseOver,
		    	mouseout: mouseOut
		    });

		})(num)
		// Add to feature group
		markers.addLayer(layer_marker);
	}
	// Add feature group to map
	map.addLayer(markers);

	// Clear load text
	// $('.sidebar_text_intro').html('');
};

// Pull data from Google spreadsheet via Tabletop
function initializeTabletopObjectMarkers(){
	Tabletop.init({
    	key: spreadsheet_key,
    	callback: loadMarkersToMap,
    	simpleSheet: true,
    	debug: false
    });
}

// Add JSON data to map
// If not done with map-tabletop-geojson.js
initializeTabletopObjectMarkers();
</script>
{{super()}}
{% endblock %}
