{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tabletopmap.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<!--info modals-->
<div class="modal fade" role="dialog" id="modal_about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About The Map</h4>
            </div>
            <div class="modal-body">
                <p>This map displays incidents of politically-motivated violence since October 2017.
                  Categories of incidents of politically-motivated violence include events motivated by inter- or intra-party tensions, elections, candidate nominations, and disputes over positions of influence.
                 </p>
                <p></p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- a Bootstrap modal, which we'll bind to the control via the modalId parameter -->
<div class="modal fade" role="dialog" id="modal_help">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About the Data</h4>
            </div>
            <div class="modal-body">
                <p>The data was compiled by <a href="https://asiafoundation.org/" target="_blank">The Asia Foundation</a> through its Violent Incident Monitoring Systems (VIMS) project in Bangladesh.
                  Since October 2017, The Asia Foundation has been implementing a VIMS project with support from <a href="https://www.usaid.gov/bangladesh" target="_blank">USAID</a> and <a href="http://democracyinternational.com/" target="_blank">Democracy International</a>.</p>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{super()}}
{% endblock %}

{% block scripts %}
<!--<script src="{{ url_for('static', filename='data/violence/didistricts.json')}}"></script>
<script src="{{ url_for('static', filename='data/violence/ifesgap.json')}}"></script>-->
<script src="{{ url_for('static', filename='data/violence/vimsapr2018.json')}}"></script>
<script src="{{ url_for('static', filename='data/elections/results2008con.json')}}"></script>
<!--<script src="{{ url_for('static', filename='data/violence/swingDD2.json')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimsintraparty.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimsinterparty.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimselections.js')}}"></script>-->
<script src="{{ url_for('static', filename='js/violence/2008con.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/vimsapr2018.js')}}"></script>
<!--<script src="{{ url_for('static', filename='js/violence/ifesgap.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/didistricts.js')}}"></script>
<script src="{{ url_for('static', filename='js/violence/swingDD.js')}}"></script>-->
<!--<script src="{{ url_for('static', filename='js/coverageDI.js')}}"></script>-->
<script>
$(document).ready(function() {
L.control.layers(baseLayers, null, {collapsed: true, position: 'topleft'}).addTo(map);
map.flyTo([24, 90], 7);
});

var district = "District";
var violentIncidents = "Violent Incidents";
var politicalViolence = "Incidents of Political Violence";

//var vimsintraparty;
//var vimsinterparty;
//var vimselections;
var vimsapr18geojson;
var congeojson;
//var ifesgapgeojson;
//var didistrictsgeojson;
//var results2008DDgeojson;
//var markersDI;

var overlayMaps = {
  //"Intra-Party Violence": vimsintraparty,
  //"Inter-Party Violence": vimsinterparty,
  //"Electoral Violence": vimselections,
  "Political Violence Oct 2017-Apr 2018": vimsapr18geojson,
  "2008 Election Constituencies": congeojson
  //"DI SPL Coverage": didistrictsgeojson,
  //"DI Office Locations": markersDI,
  //"IFES Gap Coverage": ifesgapgeojson,
  //"Swing-Stronghold": results2008DDgeojson
};

map.addLayer(vimsapr18geojson);
L.control.layers(null, overlayMaps, {collapsed: false, position: 'bottomleft'}).addTo(map);

/*var tableLegend = L.control({ position: 'bottomright' });
tableLegend.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info legend'),
    grades = [1, 2, 3, 4, 5],
    labels = ['<h4>Incident Type</h4>' +
    '<h6><strong>Intra-Party Violence ' + '<i class="circle" style="background:' + getColor(grades[0]) + '"></i></strong></h6>' +
    '<h6><strong>Inter-Party Violence ' + '<i class="circle" style="background:' + getColor(grades[1]) + '"></i></strong></h6>' +
    '<h6><strong>Electoral Violence ' + '<i class="circle" style="background:' + getColor(grades[2]) + '"></i></strong></h6>']; //+
    //'<h6><strong>Fight ' + '<i class="circle" style="background:' + getColor(grades[3]) + '"></i></strong></h6>' +
    //'<h6><strong>Gunfight ' + '<i class="circle" style="background:' + getColor(grades[4]) + '"></i></strong></h6>'];
    this._div.innerHTML = labels.join('');
    return this._div;
  };*/

//tableLegend.addTo(map);
vimsapr18legend.addTo(map);
vimsapr18info.addTo(map);
</script>
{{super()}}
{% endblock %}
